 <div id="main"> 
 
  <div id="left" class="converter">
	  
      <div id="converter_background">
     </div>
    <ul class="add-subtract">
      <li class="subtract"></li>
      <li class="add"></li>
	  <li class="r"></li>
    </ul>
    
    <div id="<%= @co2.slug %>" class="inner-converter type">
      <div class="number"><%= @co2.amount %></div>  
      <div class="unit" style="<%= @co2.style(@co2.category) %>">
        <%= @co2.unit %>
      </div>
    </div>
    
    <div class="conversions">
      <h2>Choose your unit</h2>
      <ul>
        <% @all.each_with_index do |c, indx| %>
          <li class="<%= c.slug %>" style="<%= c.style(indx) %>"><%= c.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  
  <div id="right" class="converter">
    <div class="fade"></div>
     <div id="converter_background2">
    </div>
    <ul class="add-subtract">
      <li class="subtract"></li>
      <li class="add"></li>
	  <li class="r"></li>
    </ul>
    
    
    <div id="<%= @random.slug %>" class="inner-converter type">
      <div class="number"><%= @random.amount %></div>  
      <div class="unit" style="<%= @random.style(@random.category) %>">
        <%= @random.unit %>
      </div>
    </div>
    
    <div class="conversions">
      <h2>Choose your unit</h2>
      <ul>
       <% @all.each_with_index do |c, indx| %>
         <li class="<%= c.slug %>" style="<%= c.style(indx) %>"><%= c.name %></li>
       <% end %>
      </ul>
    </div>
    
  </div>
<div id="equal">&asymp;</div>
</div>  